/* Box reset
   ========================================================================== */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Typography
   ========================================================================== */

html {
  font-family: var(--font-family-body);
  font-size: var(--font-size);
  line-height: 1.5;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-alt);
}

pre,
code,
kbd,
samp {
  font-family: var(--font-family-code);
}

/* Base styles
   ========================================================================== */

/**
 * Root.
 */

html {
  background-color: var(--color-black);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  margin: 0;
}

/**
 * Headings.
 */

h1 {
  font-size: calc(var(--font-scale-1) * 1rem);
}
h2 {
  font-size: calc(var(--font-scale-2) * 1rem);
}
h3 {
  font-size: calc(var(--font-scale-3) * 1rem);
}
h4 {
  font-size: calc(var(--font-scale-4) * 1rem);
}
h5 {
  font-size: calc(var(--font-scale-5) * 1rem);
}
h6 {
  font-size: calc(var(--font-scale-6) * 1rem);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-weight: normal;
  margin: var(--space-l) 0 var(--space-s);
  text-transform: uppercase;
}

/**
 * Structural elements.
 */

blockquote {
  border-inline-start: var(--border-width-l) solid var(--color-border);
  border-inline-end: 0;
  font-style: italic;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: calc(var(--space-l) - var(--space-xs));
  padding-inline-end: 0;
}
blockquote > :first-child {
  margin-block-start: 0;
}
blockquote > :last-child {
  margin-block-end: 0;
}

hr {
  border: 0;
  color: var(--color-border);
  height: 1.5rem;
  text-align: center;
}
hr::after {
  content: "***";
  letter-spacing: 1rem;
  vertical-align: middle;
}

/**
 * List elements.
 */

ol,
ul {
  padding-inline-start: var(--space-l);
  padding-inline-end: 0;
}
li > * {
  margin-block-start: 0;
  margin-block-end: 0;
}

dt {
  color: var(--color-heading);
  font-weight: bolder;
}
dd {
  margin-inline-start: var(--space-l);
  margin-inline-end: 0;
}

/**
 * Table elements.
 */

.table-wrapper {
  border: var(--border-width-s) solid var(--color-border);
  border-radius: var(--border-radius);
  overflow-x: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
th,
td {
  padding: 0 var(--space-s);
  text-align: center;
  white-space: nowrap;
}
thead {
  border-bottom: var(--border-width-s) solid var(--color-border);
}
tfoot {
  border-top: var(--border-width-s) solid var(--color-border);
}
thead th,
tfoot td {
  color: var(--color-heading);
  font-weight: bolder;
  line-height: 2.25rem;
}
tbody tr:nth-child(2n + 1) {
  background-color: var(--color-subtle-background);
}

/**
 * Form elements.
 */

button,
input,
label,
output,
select,
textarea {
  color: var(--color-foreground);
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 100%;
}
button,
input[type="checkbox"],
input[type="checkbox"] + label,
input[type="radio"],
input[type="radio"] + label,
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  width: auto;
}
button,
fieldset,
input,
output,
select,
textarea {
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  border: var(--border-width-s) solid var(--color-border);
  margin-block-end: var(--space-m);
  padding: var(--space-s);
}
input[type="range"] {
  background: transparent;
  border: none;
}
label {
  margin-block-end: var(--space-s);
}
legend {
  margin: 0 calc(var(--space-xs) * -1);
  padding: 0 var(--space-xs);
}

input[disabled],
input[readonly],
output,
textarea[disabled],
textarea[readonly] {
  color: var(--color-subtle-foreground);
}
input[disabled],
textarea[disabled] {
  background-color: var(--color-subtle-background);
}
button,
input[type="reset"],
input[type="submit"] {
  background-color: var(--color-subtle-background);
  cursor: pointer;
}

textarea {
  resize: vertical;
}

::placeholder {
  color: var(--color-subtle-foreground);
  opacity: 1;
}

/**
 * Media elements.
 */

figure {
  position: relative;
}
figcaption {
  background-color: var(--color-overlay-3);
  font-size: calc(var(--font-scale-6) * 1rem);
  font-style: italic;
  padding: var(--space-s);
  opacity: 1;
  pointer-events: none;
  text-align: center;
  position: absolute;
  bottom: 0;
}

img {
  border: var(--border-width-s) solid var(--color-border);
  border-radius: var(--border-radius);
  display: block;
  height: auto;
  max-width: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
}

canvas {
  border: var(--border-width-s) solid var(--color-border);
  border-radius: var(--border-radius);
  display: block;
  height: auto;
  max-width: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
}

.iframe-wrapper {
  border: var(--border-width-s) solid var(--color-border);
  border-radius: var(--border-radius);
  overflow: hidden;
  padding-block-end: 56.25%;
  position: relative;
}
iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/**
 * Text formatting elements.
 */

a {
  color: var(--color-link);
  transition: color 0.1s ease-in-out, opacity 0.1s ease-in-out;
}
a:focus,
a:hover {
  color: var(--color-link-hover);
}

b,
strong {
  color: var(--color-heading);
}
mark {
  background-color: var(--color-accent-background);
  color: var(--color-accent-foreground);
}

code,
samp {
  background-color: var(--color-subtle-background);
  border-radius: var(--border-radius);
  display: inline-block;
  padding: 0 var(--space-xs);
}

pre > code {
  background-color: transparent;
  display: block;
  padding: 0;
}

kbd {
  background-color: var(--color-subtle-background);
  border-radius: var(--border-radius);
  box-shadow: 0 0 1px var(--color-foreground), 0 0 0 2px var(--color-background) inset;
  display: inline-block;
  padding: 0 var(--space-s);
  white-space: nowrap;
}

/**
 * Misc.
 */

::selection {
  background-color: var(--color-foreground);
  color: var(--color-background);
}
