/* Accessibility
   ========================================================================== */

.hidden {
  display: none;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  position: absolute;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  clip: auto;
  height: auto;
  width: auto;
  overflow: visible;
  white-space: normal;
  position: static;
}

/* Grid
   ========================================================================== */

/**
 * Rely on implicit named lines.
 * https://cloudfour.com/thinks/breaking-out-with-css-grid-layout/
 */

.grid-root {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, var(--grid-max-content-width)) [main-end]
    minmax(1em, 1fr) [full-end];
  grid-template-rows: auto min-content;
  min-height: 100vh;
}

.grid-full {
  display: inherit;
  grid-column: full;
  grid-template-columns: inherit;
  grid-template-rows: min-content;
}

.grid-main {
  grid-column: main;
}

.grid-content {
  display: inherit;
  grid-column: full;
  grid-template-columns: inherit;
}
.grid-content > * {
  grid-column: main;
}

/* Text
   ========================================================================== */

.text-transparent {
  color: transparent;
}

.text-start {
  text-align: start;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}

.text-scale-1 {
  font-size: calc(var(--font-scale-1) * 1rem);
}
.text-scale-2 {
  font-size: calc(var(--font-scale-2) * 1rem);
}
.text-scale-3 {
  font-size: calc(var(--font-scale-3) * 1rem);
}
.text-scale-4 {
  font-size: calc(var(--font-scale-4) * 1rem);
}
.text-scale-5 {
  font-size: calc(var(--font-scale-5) * 1rem);
}
.text-scale-6 {
  font-size: calc(var(--font-scale-6) * 1rem);
}
