@font-face {
  src: url(/fonts/xkcd-script.woff2) format("woff2"),
    url(/fonts/xkcd-script.woff) format("woff"),
    url(/fonts/xkcd-script.ttf) format("truetype");
  font-family: "xkcd Script";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}
