{{- $config := .Page.Site.Config.Privacy.Vimeo -}}
{{- if not $config.Disable -}}
  {{- $host := "player.vimeo.com" -}}
  {{- $id := .Get "id" | default (.Get 0) -}}
  {{- $autoplay := cond (eq (.Get "autoplay") "true") "1" "0" -}}
  {{- $dnt := cond $config.EnableDNT "1" "0" -}}
  {{- $title := .Get "title" | default "Vimeo video" -}}

  <div class="iframe-wrapper">
    <iframe
      src="https://{{ $host }}/video/{{ $id }}?autoplay={{ $autoplay }}&dnt={{ $dnt }}"
      loading="lazy"
      allow="autoplay; fullscreen"
      frameborder="0"
      title="{{ $title }}"
    ></iframe>
  </div>
{{- end -}}