<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>

  {{ partial "styles" . }}

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" type="image/png" href="/images/logo-maskable-192.png" />

  <link rel="canonical" href="{{ .Permalink | safeURL }}" />
  {{ if .PrevInSection }}<link rel="prev" href="{{ .PrevInSection.Permalink | safeURL }}" />{{ end }}
  {{ if .NextInSection }}<link rel="next" href="{{ .NextInSection.Permalink | safeURL }}" />{{ end }}

  {{ range (.Site.GetPage "/").AlternativeOutputFormats }}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" title="{{ $.Site.Title }}" href="{{ .RelPermalink | safeURL }}" />
  {{ end }}

  {{ with .Site.Social.github }}<link rel="me" href="https://github.com/{{ . }}" />{{ end }}
  {{ with .Site.Social.twitter }}<link rel="me" href="https://twitter.com/{{ . }}" />{{ end }}
  {{ with .Site.Author.email }}<link rel="me" href="mailto:{{ . }}" />{{ end }}
  <link rel="pgpkey" href="/pgpkey.pub" />

  {{ partial "meta" . }}
</head>
