{{ $scaleMax := 1 }}
{{ $scaleMin := 4 }}
{{ $scaleSpread := sub $scaleMin $scaleMax }}

{{ $scoreMax := len (index .ByCount 0).Pages }}
{{ $scoreMin := len (index .ByCount.Reverse 0).Pages }}
{{ $scoreSpread := sub $scoreMax $scoreMin }}

{{ $scaleStep := 0.0 }}
{{ if gt $scoreSpread 0 }}
  {{ $scaleStep = div $scaleSpread (float $scoreSpread) }}
{{ end }}

<ul class="terms-list__items">
  {{ range .Alphabetical }}
    {{ $currentScale := math.Round (add 1 (sub $scaleMin (add $scaleMax (mul (sub .Count $scoreMin) $scaleStep)))) }}
    <li class="terms-list__item">
      <a class="terms-list__link text-scale-{{ $currentScale }}" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
    </li>
  {{ end }}
</ul>
