<div class="h-feed mt-20 max-w-prose">
  <h2 class="sr-only">Latest articles</h2>
  {{ range . }}
    <article class="h-entry border-t border-gray-200 py-8 dark:border-gray-700">
      <h3>
        <a
          href="{{ .RelPermalink }}"
          class="p-name u-url u-uid text-3xl font-bold text-gray-700 hover:text-blue-700 focus:text-blue-700 dark:text-gray-300 dark:hover:text-blue-300 dark:focus:text-blue-300"
        >
          {{ .Title | markdownify }}
        </a>
      </h3>
      <footer class="mt-2">
        {{ partial "utils/meta" . }}
      </footer>
    </article>
  {{ end }}
</div>
