<header class="mx-auto w-full max-w-7xl px-4 py-10 text-gray-600 dark:text-gray-400 sm:px-8">
  <nav aria-label="main">
    <ul class="flex flex-wrap items-center gap-4 font-bold sm:gap-8">
      <li class="mr-auto block">
        <a
          href="/"
          aria-label="Home"
          {{ if .IsHome }}aria-current="page"{{ end }}
          class="inline-block py-2 font-extrabold transition-colors hover:text-gray-700 hover:underline focus:text-gray-700 focus:underline dark:hover:text-gray-300 dark:focus:text-gray-300"
          >{{ site.Title }}</a
        >
      </li>
      {{ $currentPage := . }}
      {{ range site.Menus.main }}
        {{ $isActive := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
        <li class="block">
          <a
            href="{{ .URL }}"
            {{ if $isActive }}aria-current="page"{{ end }}
            class="{{ cond $isActive "underline " "" }}inline-block py-2 transition-colors hover:text-gray-700 hover:underline focus:text-gray-700 focus:underline dark:hover:text-gray-300 dark:focus:text-gray-300"
            >{{ .Name }}</a
          >
        </li>
      {{ end }}
      <li class="block">
        <button
          type="button"
          id="color-scheme"
          aria-labelledby="color-scheme-label"
          class="inline-block py-2 transition-colors hover:text-gray-700 focus:text-gray-700 dark:hover:text-gray-300 dark:focus:text-gray-300"
        >
          <svg height="1em" viewbox="0 0 384 512" fill="currentColor">
            <title id="color-scheme-label">Toggle color scheme</title>
            <use href="/images/sprites.svg#icon-lightbulb" />
          </svg>
        </button>
      </li>
    </ul>
  </nav>
</header>
