<ul class="h-feed article-list__items">
  {{ range . }}
    <li class="h-entry article-list__item">
      <a class="p-name u-url u-uid article-list__link" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
      <p class="article-list__meta hidden">
        {{ partial "utils/authors" . }}
      </p>
      <p class="article-list__meta">
        {{ partial "utils/time" .Date }}
        {{ if eq .Section "blog" }} - {{ partial "utils/length" .Content }}{{ end }}
      </p>
      <p class="p-summary article-list__summary">
        {{ .Summary | plainify | safeHTML }}
      </p>
    </li>
  {{ end }}
</ul>
