{{ $normalize := resources.Get "css/normalize.css" }}
{{ $config := resources.Get "css/config.css" }}
{{ $color := resources.Get "css/color.css" }}
{{ $base := resources.Get "css/base.css" }}
{{ $utils := resources.Get "css/utils.css" }}
{{ $syntax := resources.Get "css/syntax.css" }}
{{ $misc := resources.Get "css/misc.css" }}
{{ $fonts := resources.Get "css/fonts.css" }}
{{ $styles := slice $normalize $config $color $base $utils $syntax $misc $fonts | resources.Concat "css/styles.css" }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" />

{{ if .Params.katex }}<link rel="stylesheet" href="/js/katex-v0.15.2/katex.min.css" />{{ end }}
