{{ $src := .src }}
{{ $width := .width }}
{{ $height := .height }}
{{ $alt := .alt | default "" }}
{{ $caption := .caption }}
{{ $class := .class }}

{{ $ext := $src | path.Ext | replaceRE "^\\." "" }}

<figure class="{{ $class }}">
  <video controls width="{{ $width }}" height="{{ $height }}">
    <source src="{{ $src }}" type="video/{{ $ext }}" />
    <p>Your browser cannot play this video inline. You can <a href="{{ $src }}">download it</a> instead.</p>
  </video>
  {{ with $caption }}
    <figcaption>
      {{ . | markdownify }}
    </figcaption>
  {{ end }}
</figure>
